<%- include('header.ejs')%>

<h1>Index</h1>
<h2>
  <!-- =直接顯示值 -->
  <%=time%>
</h2>
<% if (blogs.length) { %>
<% blogs.forEach( acticles=>{ %>
<h3>標題:<%=acticles.title%></h3>
<p>作者:<%=acticles.author%></p>
<%} ) %>
<% } else { %>
<p>no文章</p>
<% } %>

<%- include('footer.ejs')%>
